*{
    letter-spacing:1px;
}

body{
    background-color: var(--black-color);
    color:var(--white-color);
}

:root{
    --primary-color:#ff3b30;
    --primary-hover:#eb2626;
}

.gap{
    gap:2rem;
    flex-wrap: wrap;
}

.para-text{
    max-width: 600px;
    text-align:justify;
    margin: auto;
    padding: 0 1rem;

}
.category{
    color: var(--white-color);
}

.quiz-btn{
    color: var(--white-color);
    background-color: var(--primary-color);
    padding:1rem 3rem ;
    border-radius: 4rem;
}
.quiz-btn:hover{
    background-color: var(--primary-hover);
    transition: all 0.5s ease-in;
}
.scale{
    transition: all 0.5s ease-in-out;
}

.scale:hover{
    transform: scale(1.1);
}