


.content-wrapper{
    width: 480px;
    margin:auto
}

.question-score{
    display:flex;
    justify-content: space-between;
}
.options{
    display: flex;
    flex-direction:column;
    width:100%;
    
}

.option{
    padding:1rem 2rem;
    background-color:var(--light-grey-v1);
    color: var(--black-color);
}
.option:hover{
    background-color: var(--light-grey-v2);
}