
.category-container {
  display: flex;
  gap:2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border-radius: 20px;
  width:25rem;
  box-shadow:-5px 5px 5px rgba(0,0,0,0.2)
}

.card-body {
  color: var(--black-color);
}

.play-btn {
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 0.8rem 1.5rem;
  border-radius: 4rem;
  font-size: 18px;
}

.play-btn:hover{
  background-color: var(--primary-hover);
}

.rules-btn {
  border: 2px solid var(--primary-color);
  background-color: var(--white-color);
  border-radius: 4rem;
  margin-left: auto;
}

.buttons {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
