.category-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.card {
  border-radius: 10px;
}

.card-body {
  color: var(--black-color);
}

.play-btn {
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 0.8rem 2.5rem;
  border-radius: 4rem;
}

.rules-btn {
  border: 2px solid var(--primary-color);
  background-color: var(--white-color);
  border-radius: 4rem;
  margin-left: auto;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}
